.loginPageContainer{
    .loginPageLeft{
        background-color: rgb(149, 149, 238);
        height: 500px;;
        width: 500px;
    }

    .loginPageRight{
        background-color: rgb(184, 168, 168);
        height: 500px;;
        width: 500px; 
    }
}